<!doctype html>
<html lang="vi" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout.html">
<head>
    <title>Quản lý Chợ Cũ</title>
</head>
<body>
<div layout:fragment="content">
    <div>
        <main>
            <div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
                <!-- Breadcrumb Start -->
                <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
                    <nav>
                        <ol class="flex items-center gap-2">
                            <li>
                                <a class="font-medium text-primary" th:href="@{/dashboard}">Dashboard /</a>
                            </li>
                            <li>
                                <a class="font-medium text-primary" th:href="@{/templates/blog/list-blog}">Danh sách bài đăng cần duyệt</a>
                            </li>
                        </ol>
                    </nav>
                </div>
                <!-- Breadcrumb End -->

                <!-- ====== Table Three Start -->
                <div class="rounded-sm border border-stroke bg-white px-5 pb-2.5 pt-6 shadow-default dark:border-strokedark dark:bg-boxdark sm:px-7.5 xl:pb-1">
                    <div class="flex justify-between items-center w-full">
                        <h2 class="font-extra bold mb-4">DANH SÁCH BÀI ĐĂNG CẦN DUYỆT</h2>
                        <div th:if="${errorMessage}" class="text-red-500">
                            <p th:text="${errorMessage}"></p>
                        </div>
                        <div th:if="${successMessage}" class="text-green-500">
                            <p th:text="${successMessage}"></p>
                        </div>
                    </div>
                    <div class="max-w-full overflow-x-auto">
                        <table class="w-full table-auto">
                            <thead>
                            <tr class="bg-gray-2 text-left dark:bg-meta-4">
                                <th class="w-12 px-4 py-4 font-medium text-black dark:text-white xl:pl-11">
                                    <input type="checkbox" id="select-all" class="form-checkbox">
                                </th>
                                <th class="w-12 px-4 py-4 font-medium text-black dark:text-white xl:pl-11">
                                    STT
                                </th>
                                <th class="min-w-[220px] px-4 py-4 font-medium text-center text-black dark:text-white xl:pl-11">
                                    Tiêu đề
                                </th>
                                <th class="min-w-[220px] px-4 py-4 font-medium text-center text-black dark:text-white xl:pl-11">
                                    Ngày đăng
                                </th>
                                <th class=" px-4 py-4 font-medium text-black dark:text-white xl:pl-11">
                                    Duyệt
                                </th>
                                <th class="px-4 py-4 font-medium text-black dark:text-white xl:pl-11">
                                    Hủy
                                </th>
                                <th class="px-4 py-4 font-medium text-black dark:text-white">
                                    Thao tác
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="blog, iterStat : ${blogs}">
                                <td class="w-12 border-b border-[#eee] px-4 py-5 pl-9 dark:border-strokedark xl:pl-11">
                                    <input type="checkbox" class="form-checkbox">
                                </td>
                                <td th:text="${iterStat.index+1}"
                                    class="w-12 border-b border-[#eee] px-4 py-5 pl-9 dark:border-strokedark xl:pl-11">
                                </td>

                                <td th:text="${blog.name}"
                                    class="border-b border-[#eee] px-4 py-5 dark:border-strokedark text-center">
                                </td>
                                <td th:text="${blog.posted_at}"
                                    class="border-b border-[#eee] px-4 py-5 dark:border-strokedark text-center">
                                </td>
                                <td
                                    class="border-b border-[#eee] px-4 py-5 dark:border-strokedark text-center">
                                    <form th:action="@{'update-status-available/' + ${blog.id}}" method="post">
                                        <button type="submit"
                                                class="rounded-lg px-4 py-2 border-2 border-green-700 text-green-700 hover:bg-green-700 hover:text-green-100 duration-300">
                                            Duyệt
                                        </button>
                                    </form>
                                </td>
                                <td
                                    class="border-b border-[#eee] px-4 py-5 dark:border-strokedark text-center">
                                    <form th:action="@{'update-status-remove/' + ${blog.id}}" method="post">
                                        <button class="rounded-lg px-4 py-2 border-2 border-red-600 text-red-600 hover:bg-red-600 hover:text-red-100 duration-300">Hủy</button>
                                    </form>
                                </td>
                                <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark">
                                    <div class="flex items-center space-x-3.5">
                                        <a
                                           class="hover:text-primary">
                                            <svg class="fill-current" width="18" height="18" viewBox="0 0 24 24"
                                                 fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M3 17.25V21H6.75L17.81 9.94L14.06 6.19L3 17.25ZM20.71 7.04C21.1 6.65 21.1 6 20.71 5.61L18.39 3.29C18 2.9 17.35 2.9 16.96 3.29L15.13 5.12L18.88 8.87L20.71 7.04Z"
                                                      fill="currentColor"></path>
                                            </svg>
                                        </a>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- ====== Table Three End -->
                <!-- Phân trang Start -->
                <div class="flex justify-center items-center mt-4 space-x-4">
                    <div>
                        <a th:href="@{/blog/list-blog(page=${currentPage - 1}, size=${size})}"
                           th:if="${currentPage > 0}"
                           class="text-primary">Trước</a>
                    </div>
                    <div>
                        <span>Trang <span th:text="${currentPage + 1}"></span> / <span
                                th:text="${totalPages}"></span></span>
                    </div>
                    <div>
                        <a th:href="@{/blog/list-blog(page=${currentPage + 1}, size=${size})}"
                           th:if="${currentPage + 1 < totalPages}"
                           class="text-primary">Sau</a>
                    </div>
                </div>
                <!-- Phân trang End -->
                <!-- ====== Table Section End -->
            </div>

        </main>

    </div>

</div>

</body>
</html>


